<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
  </head>
  <body>
    <h1>SALARY BREAKDOWN    </h1>
    <table>
        <thead>
        <tr>
            <th>Pay Item</th>
            <th>Value</th>
        </tr>
        </thead>
<tbody>
<tr>
<td>basic_salary </td>
<td>{{data.basic_salary}}</td>
</tr>
<tr>
    <td>hmo </td>
    <td>{{data.hmo}}</td>
</tr>
<tr>
    <td>housing </td>
    <td>{{data.housing}}</td>
</tr>
<tr>
    <td>furniture </td>
    <td>{{data.furniture}}</td>
</tr>
<tr>
    <td>leave </td>
    <td>{{data.leave}}</td>
</tr>
<tr>
    <td>dressing </td>
    <td>{{data.dressing}}</td>
</tr>
<tr>
    <td>transport </td>
    <td>{{data.transport}}</td>
</tr>
<tr>
    <td>education </td>
    <td>{{data.education}}</td>
</tr>
<tr>
    <td>utility </td>
    <td>{{data.utility}}</td>
</tr>

</tbody>

    </table>
  </body>
</html>